<app-cockpit
  (serverCreate)="onServerAdded($event)"
  (bpCreated)="onBluePrintAdded($event)"
></app-cockpit>
<hr />
<!-- <p [innerText]="allowNewServer" style="text-transform: capitalize;" ></p> -->

<!-- <p>{{ serverCreationStaus }}</p> -->
<!-- <p *ngIf="serverCreated; else noServer">

  <app-server *ngFor="let server of servers"></app-server>
</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template> -->
<br />

<div class="row">
  <div class="col-xl-12">
    <app-server-element
      *ngFor="let server of servers"
      [serverElement]="server"
    ></app-server-element>
  </div>
</div>
