<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<label>Server Content</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverContent" />

<!-- <p>{{ serverName }}</p> -->
<br />
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<button
  style="margin-left: 5px;"
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateBluePrint()"
>
  Add Blue Print
</button>
<br /><br />
<hr />
<!-- <p [innerText]="allowNewServer" style="text-transform: capitalize;" ></p> -->

<!-- <p>{{ serverCreationStaus }}</p> -->
<!-- <p *ngIf="serverCreated; else noServer">

  <app-server *ngFor="let server of servers"></app-server>
</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template> -->
<br />

<div class="row">
  <div class="col-xl-12">
    <div class="card" style="width: 25rem;" *ngFor="let server of servers">
      <div class="card-body">
        <h3 class="card-title">
          {{ server.name }}
        </h3>
        <p class="card-text">
          <strong *ngIf="server.type === 'server'" style="color: red;">{{ server.content }}</strong>
          <em *ngIf="server.type === 'bluePrint'" style="color: blue;">{{ server.content }}</em>
        </p>
      </div>
    </div>
  </div>
</div>
